.wrapper{
  background-image: url('friends.jpg');
  height: 970px;
}
#brand{
  float: left;
}
#navbar{
    background-color: #F8F918;
    border-bottom: 4px solid black;
}
.form-inline{
  float: right;
}
#lbl{
    display:inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
#inpt {
  display: inline-block;
  float: left;
}
#registerform {
  background-color: honeydew;
  padding: 34px 166px 34px 0px;
}
.error{
  color: red;
  font-weight:bold;
}
#logout {
  float: right;
}

.container{
  background-color: grey;
}

.table-hover{
  background-color: honeydew;
}
.table{
  background-color: honeydew;
}

#table{
  background-color: honeydew;
}
.card h2{
  padding-left: 130px;
  border-bottom: 2px solid black;
}
.profilelist{
  
}
