<!doctype html>

<html>
	<head>
		<title> r/dallas connect</title>
        {% load staticfiles %}
        {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'beltapp/index.css' %}" media="screen" title="no title" charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="initial-scale=1.0">
	</head>
	<body>
		<div class = "wrapper">
		<nav id = "navbar" class="navbar navbar-default">
				<div class="row container-fluid">
					<div class = "col s-1">
						<h2 id = "brand"> r/dallas connect</h2>
					</div>
						<div class="navbar-header">
								<form class = "form-inline" action="/login" method="post">
									{% csrf_token %}
									{% if messages %}
									{% for message in messages %}
									<p class="{{ message.tags }}">{{ message }}</p>
									{% endfor %}
									{% endif %}
										<label>Email: <span class="glyphicon glyphicon-envelope"></span></label>
											<input type="email" name="email" />
										<label>Password: <span class="glyphicon glyphicon-lock"></span></label>
											<input type="password" name="password" />
										<input type="submit" value="Login" />
								</form>
						</div>
					</div>
			</nav>

<div class = "row">
	<div class = "col-3">
	</div>
	<div id = "registerform">
		<form id = "register" action="/register" method="POST">
					{% csrf_token %}
					{% for error in errors %}
					<p class = "error">{{error}}</p>
							{% endfor %}
							<label id = "lbl">Name : <span class="glyphicon glyphicon-user"></span> </label>
							<input id = "inpt" type="text" name="first_name" />
							<label id = "lbl">Reddit Handle : <i class="fa fa-reddit-alien" style="font-size:20px"></i></label>
								<input id = "inpt" type="text" name="alias" />
							<label id = "lbl">Email : <span class="glyphicon glyphicon-envelope"></span> </label>
								<input id = "inpt" type="email" name="email" />
							<label id = "lbl">Password : <span class="glyphicon glyphicon-lock"></label>
								<input id = "inpt" type="password" name="password" />
							<label id = "lbl">Password Confirmation :<span class="glyphicon glyphicon-lock">  </label>
								<input id = "inpt" type="password" name="password_confirmation" />
							<label id = "lbl"> Birthday : <span class="glyphicon glyphicon-calendar"></span></label>
								<input id = "inpt" type="date" name="birthday">
							<label id = "lbl"></label>
								<input id = "inpt" type="submit" value="register">
				</form>
	</div>
				<div class = "col-3">
				</div>
</div>
</div>
	</body>
</html>
